@media screen and(min-width:320px) and (max-width:767px) {
.hero .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    margin-left: 140px;
    margin-right: 140px;
}

.button {
    background-color: var(--main-color);
    color: var(--white);
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.06em;
    line-height: 1.875;
    text-align: center;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
}
@media screen and(min-width: 768px) and(max-width:1199px) {
    .hero .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 50px;
        border-radius: 4px;
        margin-left: 284px;
        margin-right: 284px;
    }

    .button {
        background-color: var(--main-color);
        color: var(--white);
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 0.06em;
        line-height: 1.875;
        text-align: center;
        cursor: pointer;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    }
}

@media screen and(min-width:1200px) {
    .hero .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 50px;
        border-radius: 4px;
        margin-left: 500px;
        margin-right: 500px;
    }

    .button {
        background-color: var(--main-color);
        color: var(--white);
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 0.06em;
        line-height: 1.875;
        text-align: center;
        cursor: pointer;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    }
}